body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    /* same as font: 15px/1.5 Arial, Helvetica, sans-serif; */
    padding:0;
    background: #000000;

}

/* Globals*/
.container {
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul {
    margin: 0;
    padding:0;
}

.button1{
    height:38px;
    background:#813772;
    border: 0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
}

/*Header */
header {
    padding-top: 5px;
    background: #000000;
    color: #ffffff;
    min-height:70px;
    border-bottom:#7C516D 3px solid;
}

header #branding h1{
    margin:0;
    font-size: 70px;
    text-align: center;
}

header h2 {
    margin:0px;
    text-align: center;
}

header a {
    columns: #ffffff;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

header li {
    text-align: center;
    display:inline;
    padding: 0px 20px 0 15px;
}

header nav {
    text-align: center;
    margin-top:0px;
}

header .highlight, header .current a {
    color:#7C516D;
    font-weight:bold;
}

header a:hover {
    color:#396282;
    font-weight:bold;
    font-size: 14px;
}

/* Showcase */ 

#showcase {
    min-height:400px;
    background-color: #000000;
    text-align:center;
    color:#ffffff;
}

#showcase img {
    padding-top: 15px;
    width: 300px;
}

#showcase h1{
    margin-top:10px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase .highlight {
    color: #7C516D;
    font-weight:bold;
}

#showcase p{
    font-size:20px;
}

/* connect */


#connect {
    background:#7C516D;
}

#connect .container{
    margin-left: 260px;
    padding:5px;
    color:#ffffff;
}

#connect img {
    width: 50px;
    padding: 5px 122px 0px 0px;
}

#connect h1 {
    float:left;
    margin-left: 10px;
}

/* Boxes */

#boxes {
    margin-top:20px;
}

#boxes .box {
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
    color:#ffffff;
}

#boxes .box img {
    width:250px;
}

/* Footer */

footer {
    padding:0px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}